.table {
    thead {
        tr {
            th {
                &:nth-child(5) {
                    width: 50% !important;
                    white-space: pre-wrap !important;
                    // word-wrap: break-word;
                    // background-color: red;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                &:nth-child(5) {
                    width: 50% !important;
                    white-space: pre-wrap !important;
                    // word-wrap: break-word;
                    // background-color: red;
                }
            }
        }
    }
}