<div class="">
    <h1 class="h3 mb-3"><strong>Daily Payout</strong> Charges</h1>
    <div class="card">
        <div class="card-header pb-0">

        </div>
        <div class="card-body p-0">




            <div class="row">
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <div class="card shadow border flex-fill">
                        <div class="card-header pb-0">

                            <h5 class="card-title mb-0"> Latest Transaction</h5>
                            <hr>
                            <form [formGroup]="filterFormpayoutcharges">

                                <div class="row ">
                                    <!-- d-flex justify-content-center align-items-top -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Merchant ID  </label>
                                            <div class="cal-icon">
                                                <input type="text" name="" class="form-control" formControlName="merchant_id" autocomplete="off">
                                                <!-- <div *ngIf="f['merchant_id'].touched && f['merchant_id'].invalid" class="invalid-feedback">
                                                    <div *ngIf="f['merchant_id'].errors?.['required']">
                                                        Please Enter Your Merchant Id!
                                                    </div>

                                                </div> -->
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label>Date <span class="text-danger">*</span></label>
                                            <div class="cal-icon">
                                                <input type="datetime-local-time" [dpDayPicker]="datePickerConfig" formControlName="date" class="form-control" [theme]="'dp-material'" [ngClass]="{
                                                'is-invalid': submitted && f['date'].errors && f['date'].touched,
                                                'is-valid': f['date'].touched && f['date'].valid 
                                                }" autocomplete="off">
                                                <div *ngIf="f['date'].touched && f['date'].invalid" class="invalid-feedback">
                                                    <div *ngIf="f['date'].errors?.['required']">
                                                        Please Enter Your Date!
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 mthalf">
                                    <button class="btn btn-primary me-2 mtminu20" [disabled]="!filterFormpayoutcharges.valid" (click)="applyFilter()">submit </button>
                                    <button class="btn btn-secondary mtminu20" type="reset" (click)="resetDate()">Reset  </button>
                                </div>





                            </form>



                        </div>
                        <hr>
                        <div>


                            <div class="table-responsive p-2" style="overflow-x:auto;">
                                <div class="row p-0 m-0">
                                    <div class="col-sm-10">

                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">

                                            <input type="text" class="form-control w-100" placeholder="Search..." name="customer" [(ngModel)]="filterTerm">
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-stripes table-bordered table-sm" id="nupayDataTbl">
                                    <thead>
                                        <tr>
                                            <th>Merchant ID</th>
                                            <th>Payout Charges ID</th>
                                            <th>Amount</th>
                                            <th>Withdrawn</th>

                                        </tr>
                                    </thead>



                                    <tbody>
                                        <tr class="text-center" role="status" *ngIf="loading; else showWhenLoaded">
                                            <td colspan="9" class="text-center p-0">
                                                <div class="spinner-border text-primary text-center"></div>
                                            </td>
                                        </tr>

                                        <ng-template #showWhenLoaded>
                                            <!-- | paginate: { itemsPerPage:10, currentPage: p } -->
                                            <tr *ngFor="let item of payoutChargesList | filter: filterTerm | paginate: { itemsPerPage:10, currentPage: p, totalItems: total }  let i = index">
                                                <td>{{item.merchant_id}}</td>
                                                <td>{{item.payout_charge_id}}</td>
                                                <td class="text-end fw-bold ">{{item.amount}}</td>
                                                <td class="badge  text-center text-dark" [ngClass]="{'bg-success text-white text-center': item.is_withdrawn =='1', 'bg-danger text-white text-center':item.is_withdrawn =='0'}">{{item.is_withdrawn? 'Yes': 'No'}}</td>

                                            </tr>

                                            <ng-container *ngIf="MessageDataInfo">
                                                <tr>
                                                    <td colspan="9" class="text-info text-center">
                                                        Please Select Input Field
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            <ng-container *ngIf="MessageDataError">
                                                <tr>
                                                    <td colspan="9" class="text-info text-center">
                                                        No date Found
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-template>
                                    </tbody>






                                </table>
                                <div class="float-end mt-2  pt-3">
                                    <!-- <nav aria-label="Page navigation example">
                                <ul class="pagination">


                                    <li [ngClass]="{ 'custom-disabled active': currentPageNumber === page }" class="page-item" *ngFor="let page of paginationList">
                                        <a class="page-link" routerLink="{{page.index}}">{{
                                      page.label
                                    }}</a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="" (click)="getData()"></a>
                                    </li>



                                </ul>
                            </nav> -->
                                    <pagination-controls (pageChange)="pageChangeEvent($event)" *ngIf="mypagination"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





</div>