<div class="container mb-3">
    <h2>Analytics Dashboard</h2>
    <!-- <a (click)="logout()">LogOut</a>
    <i data-feather="circle"></i> -->
</div>

<div class="row">
    <div class="col-12 col-md-6 col-sm-12">
        <div class="card border shadow-lg radiu">

            <div class="card-header pt-2 pb-0 border-bottom mb-2">
                <h3>Payin </h3>
            </div>

            <div class="card-body pt-0">
                <h4 class="card-title ">Transaction Count</h4>
                <h2 class="mb-1 number-font"><span class="counter">26,897</span></h2>
                <div class="d-flex"> <small class="text-muted ml-2 fs-12 fs-5">For Today</small> </div>
                <hr>
                <div class="row mt-3 dash1 ">

                    <div class="col  border-end">
                        <h6 class="font-weight-500 text-success number-font1 mb-0">15,000</h6> <span class="text-success">Success</span> </div>
                    <div class="col  border-endt">
                        <h6 class="font-weight-500 text-danger number-font1 mb-0">18,897</h6> <span class="text-danger">Failure</span> </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-sm-12">
        <div class="card border shadow-lg radiu">

            <div class="card-header pt-2 pb-0 border-bottom mb-2">
                <h3>Payin </h3>
            </div>

            <div class="card-body pt-0">
                <h4 class="card-title ">Transaction Amount</h4>
                <h2 class="mb-1 number-font">&#8377;<span class="counter">26,897</span></h2>
                <div class="d-flex"> <small class="text-muted ml-2 fs-12 fs-5">For Today</small> </div>
                <hr>
                <div class="row mt-3 dash1">
                    <div class="col  border-end">
                        <h6 class="font-weight-500 text-success number-font1 mb-0">&#8377; 15,000</h6> <span class="text-success">Success</span> </div>
                    <div class="col  border-endt">
                        <h6 class="font-weight-500 text-danger number-font1 mb-0">&#8377; 18,897</h6> <span class="text-danger">Failure</span> </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-sm-12">
        <div class="card border shadow-lg radiu">

            <div class="card-header pt-2 pb-0 border-bottom mb-2">
                <h3>Payout </h3>
            </div>

            <div class="card-body pt-0">
                <h4 class="card-title ">Transaction Count</h4>
                <h2 class="mb-1 number-font"><span class="counter">26,897</span></h2>
                <div class="d-flex"> <small class="text-muted ml-2 fs-12 fs-5">For Today</small> </div>
                <hr>
                <div class="row mt-3 dash1">
                    <div class="col  border-end">
                        <h6 class="font-weight-500 text-success number-font1 mb-0"> 15,000</h6> <span class="text-success">Success</span> </div>
                    <div class="col  border-endt">
                        <h6 class="font-weight-500 text-danger number-font1 mb-0"> 18,897</h6> <span class="text-danger">Failure</span> </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-sm-12">
        <div class="card border shadow-lg radiu">

            <div class="card-header pt-2 pb-0 border-bottom mb-2">
                <h3>Payout </h3>
            </div>

            <div class="card-body pt-0">
                <h4 class="card-title ">Transaction Amount</h4>
                <h2 class="mb-1 number-font">&#8377;<span class="counter">26,897</span></h2>
                <div class="d-flex"> <small class="text-muted ml-2 fs-12 fs-5">For Today</small> </div>
                <hr>
                <div class="row mt-3 dash1">
                    <div class="col  border-end">
                        <h6 class="font-weight-500 text-success number-font1 mb-0">&#8377; 15,000</h6> <span class="text-success">Success</span> </div>
                    <div class="col  border-endt">
                        <h6 class="font-weight-500 text-danger number-font1 mb-0">&#8377; 18,897</h6> <span class="text-danger">Failure</span> </div>

                </div>
            </div>
        </div>
    </div>




</div>