<div class="container mb-3">
    <h2>Analytics Dashboard</h2>
    <!-- <a (click)="logout()">LogOut</a>
    <i data-feather="circle"></i> -->
</div>

<!-- New Impliment  -->
<div class="row">
    <div class="col-12 col-lg-12 col-xl-12 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-2 row-cols-xxl-2 g-2">
                    <div class="col">
                        <div class="card radius-10 bg-light border  mb-0">
                            <div class="card-body text-left">
                                <div class="widget-icon bg-white-1 ">
                                    <p class="mb-0 text-muted fs-4 fw-bold">Payin Success</p>
                                </div>
                                <hr class="m-0 p-0 mb-2 mt-2">
                                <div class="row">
                                    <div class="col-sm-6 text-start darkGreen">
                                        <h2 class="darkGreen fw-semibold ">&#8377; {{SuccessPayinTxnAmount?.toLocaleString('en-IN') || '' }}</h2>
                                        <span>Success Amount</span>
                                    </div>
                                    <div class="col-sm-6 text-end darkGreen">
                                        <h2 class="darkGreen fs-4"> <span class="fw-semibold">{{SuccessPayinTxnCount}}</span></h2>
                                        <span>Count</span>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card radius-10 bg-light border  mb-0">
                            <div class="card-body text-left">
                                <div class="widget-icon bg-white-1 ">
                                    <p class="mb-0 text-muted fs-4 fw-bold">Payin Failure</p>
                                </div>
                                <hr class="m-0 p-0 mb-2 mt-2">
                                <div class="row">
                                    <div class="col-sm-6 text-start darkred">
                                        <h2 class="text-danger fw-semibold">&#8377; {{FailurePayinTxnAmount?.toLocaleString('en-IN') || ''}}</h2>
                                        <span>Failure Amount</span>
                                    </div>
                                    <div class="col-sm-6 text-end darkred">
                                        <h2 class="text-danger fs-4">Count: <span class="fw-semibold">{{FailurePayinTxnCount}}</span></h2>
                                        <span>Count</span>
                                    </div>


                                </div>


                            </div>
                        </div>


                    </div>

                    <!-- payout Report -->
                    <div class="col">
                        <div class="card radius-10 bg-orange mb-0">

                            <div class="card radius-10 bg-light border  mb-0">
                                <div class="card-body text-left">
                                    <div class="widget-icon bg-white-1 ">
                                        <p class="mb-0 text-muted fs-4 fw-bold">PayOut Success</p>
                                    </div>
                                    <hr class="m-0 p-0 mb-2 mt-2">
                                    <div class="row">
                                        <div class="col-sm-6 text-start darkGreen">
                                            <h2 class="darkGreen fw-semibold ">&#8377; {{successPayouttxnAmount?.toLocaleString('en-IN') || ''}}</h2>
                                            <span>Success Amount</span>
                                        </div>
                                        <div class="col-sm-6 text-end darkGreen">
                                            <h2 class="darkGreen fs-4">Count: <span class="fw-semibold">{{SuccessPayoutTxnCount}}</span></h2>
                                            <span>Count</span>
                                        </div>


                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col">

                        <div class="card radius-10 bg-light border  mb-0">
                            <div class="card-body text-left">
                                <div class="widget-icon bg-white-1 ">
                                    <p class="mb-0 text-muted fs-4 fw-bold">PayOut Failure</p>
                                </div>
                                <hr class="m-0 p-0 mb-2 mt-2">
                                <div class="row">
                                    <div class="col-sm-6 text-start darkred">
                                        <h2 class="darkred fw-semibold ">&#8377; {{FailurePayoutTxnAmount?.toLocaleString('en-IN') || ''}}</h2>
                                        <span>Failure Amount</span>
                                    </div>
                                    <div class="col-sm-6 text-end darkred">
                                        <h2 class="darkred fs-4">Count: <span class="fw-semibold">{{FailurePayoutTxnCount}}</span></h2>
                                        <span>Count</span>
                                    </div>


                                </div>


                            </div>
                        </div>


                    </div>




                </div>
            </div>
        </div>
    </div>

</div>









<!-- <div class="row">
    <div class="card border shadow-lg radius">
        <div class="row">
            <div class="card radius-10 bg-light border mb-0">
                <div class="card-header pt-2 pb-0 border-bottom mb-2">
                    <h3>Report Chart </h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-sm-12">

                            <h3>Payout</h3>

                            <canvas id="myChartpayout" width="400" height="200"></canvas>

                        </div>
                        <div class="col-12 col-md-6 col-sm-12">

                            <h3>Payin</h3>

                            <canvas id="myChartpayin" width="400" height="200" #barChart></canvas>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


</div> -->