.bd-green-800 {
    color: #0a3622;
    // background-color: #0a3622;
}

.bg-primary-gradient {
    background-image: linear-gradient(to left, rgba(1, 98, 232, 0.5) 0%, #0162e8 100%) !important;
}

.bg-tiffany {
    background-color: #3361ff!important;
}

.bg-danger {
    background-color: #e72e2e!important;
}

.bg-success {
    background-color: #12bf24!important;
}

.bg-purple {
    background-color: #8932ff!important;
}

.bg-orange {
    background-color: #ff6632!important;
}

.darkGreen {
    color: #126837;
}

.darkred {
    color: #ed1c24;
}

.blueBg {
    background-color: #2e5fb3;
}

.bg-orangeNew {
    background-color: #f56201;
}

.border-r15 {
    border-radius: 15px;
}